<footer>
  <section class="footer-top">
    <div id="contentoftop">
      <h3>اپلیکیشن بیلیتو</h3>
      <p>
        با نصب اپلیکیشن بیلیتو راحتی و سرعت در رزرو بلیط هواپیما را داشته باشید.
      </p>
    </div>
    <div class="store-buttons">
      <img src="assets\icons\applestore.png" alt="App Store" />
      <img src="assets\icons\palystore.png" alt="Play Store" />
    </div>
  </section>
  <section class="footer-main">
    <div class="footer-contact">
      <img src="assets\icons\logo.png" alt="لوگو بیلیتو" />
      <p>تلفن پشتیبانی: ۰۲۱-۳۲ ۷۶ ۵۴ ۹۸</p>
      <p>
        آدرس دفتر مرکزی: تهران، میدان آزادی، خیابان آزادی، خیابان جیحون، طوس
        غربی.
      </p>
      <div class="footer-social">
        <img src="assets\icons\tel.svg" alt="telegram" />
        <img src="assets\icons\in.svg" alt="LinkedIn" />
        <img src="assets\icons\youtube.svg" alt="YouTube" />
        <img src="assets\icons\insta.svg" alt="Instagram" />
        <img src="assets\icons\facebook.svg" alt="Facebook" />
        <img src="assets\icons\twitter.svg" alt="Twitter" />
      </div>
      <p class="footer-email">Shiva.Arghvni1996@Gmail.Com</p>
    </div>
    <div class="footer-links">
      <h4>لینک‌های مفید بیلیتو</h4>
      <ul>
        <li>درباره ما</li>
        <li>تماس با ما</li>
        <li>استرداد بلیط</li>
        <li>راهنمای خرید بلیط</li>
        <li>قوانین و مقررات</li>
      </ul>
    </div>
  </section>
  <section class="footer-bottom">
    <div class="footer-scroll-top">
      <img src="assets\icons\arrow-circle-up.png" alt="arrow-circle-up" />
      <p>بازگشت به بالا</p>
    </div>
  </section>
</footer>
