<header>
  <section class="container">
    <div id="logo">
      <img src="assets\icons\logo.png" alt="لوگو بیلیتو" />
    </div>
    <div id="navbar">
      <nav class="main-nav">
        <ul>
          <li><a href="#" target="_blank">صفحه اصلی</a></li>
          <li><a href="#" target="_blank">بیمه مسافرتی</a></li>
          <li><a href="#" target="_blank">سفرهای من</a></li>
          <li class="dropdown">
            <a href="#" target="_blank" class="dropdown-toggle">
              سایر موارد
              <img src="assets\icons\arrow-down.png" alt="arrow-down-logo" />
            </a>
            <!--                 <ul class="dropdown-menu">
                <li><a href="#" target="_blank">نمیدونم یک</a></li>
                <li><a href="#" target="_blank">نمیدونم دو</a></li>
                <li><a href="#" target="_blank">نمیدونم سه</a></li>
              </ul> -->
          </li>
        </ul>
      </nav>
    </div>
    <div id="supporter">
      <span>پشتیبانی ۴۰۴۱-۰۲۱</span>
      <img src="assets\icons\call.png" alt="call-logo" />
    </div>
    <div id="login-logout-btn">
      <button>
        <img src="assets\icons\user.png" alt="user" />
        ورود / ثبت‌نام
      </button>
    </div>
  </section>
  <!-- <div id="header-picture">
    <img src="images/home-page-screen.jpg" alt="عکس سفر" />
  </div> -->
</header>
