<header>
  <section class="container">
    <div id="logo">
      <img src="assets\icons\logo.png" alt="لوگو بیلیتو" />
    </div>

    <div class="mobile-notification-icon">
      <img src="assets\icons\user2.png" alt="اعلانات" />
    </div>

    <button class="hamburger-menu-button" aria-label="Open mobile menu">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </button>
    <div id="navbar">
      <nav class="main-nav">
        <ul>
          <li><a href="#" target="_blank">صفحه اصلی</a></li>
          <li><a href="#" target="_blank">بیمه مسافرتی</a></li>
          <li><a href="#" target="_blank">سفرهای من</a></li>
          <li class="dropdown">
            <a href="#" target="_blank" class="dropdown-toggle">
              سایر موارد
              <img src="assets\icons\arrow-down.png" alt="arrow-down-logo" />
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div id="supporter">
      <span>پشتیبانی ۴۰۴۱-۰۲۱</span>
      <img src="assets\icons\call.png" alt="call-logo" />
    </div>
    <div id="login-logout-btn">
      <button>
        <img src="assets\icons\user.png" alt="user" />
        ورود / ثبت‌نام
      </button>
    </div>
  </section>
  <div class="mobile-menu-overlay">
    <div class="mobile-menu-header">
      <img
        src="assets\icons\logo.png"
        alt="لوگو بیلیتو"
        class="mobile-menu-logo"
      />
      <button class="close-mobile-menu-button">&times;</button>
    </div>
    <nav class="mobile-nav">
      <ul>
        <li><a href="#">صفحه اصلی</a></li>
        <li><a href="#">بیمه مسافرتی</a></li>
        <li><a href="#">سفرهای من</a></li>
        <li><a href="#">سایر موارد</a></li>
        <li class="mobile-supporter">
          <span>پشتیبانی ۴۰۴۱-۰۲۱</span>
          <img src="assets\icons\call.png" alt="call-logo" />
        </li>
        <li class="mobile-login-button">
          <button>
            <img src="assets\icons\user.png" alt="user" />
            ورود / ثبت‌نام
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
